body {
    font-family: Arial, sans-serif;
    
}

.topnav {
    background-color: #333;
    overflow: hidden;
    color: #fff;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

